<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>검색 결과</title>
    <link rel="stylesheet" href="/css/search.css">
    <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script defer type="module" src="/js/search.js"></script>

</head>
<body>
    <header class="default_header"></header>
    
    <main>
        <button type="button" class="page_up_btn">
            <img src="/img/page_up_icon.png" alt="맨위로" class="page_up_icon">
        </button>

        <section class="my_review_container">
            <div class="section_header">
                <div class="section_header_title styled-border">검색 결과</div>
            </div>
            <div class="review_container">
            </div>
        <section class="my_review_container">
    </main>
</body>
</html>