<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>내가 쓴 리뷰</title>
    <link rel="stylesheet" href="../../static/css/myReview_detailPage.css">
    <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script defer type="module" src="../../static/js/myReview_detailPage.js"></script>
</head>
<body>
    <button type="button" class="page_up_btn">
        <img src="../../static/img/page_up_icon.png" alt="맨위로" class="page_up_icon">
    </button>
    <main>
        <header class="myPage_setting_header">
            <button class="before_btn_container" type="button">
                <img src="../../static/img/angles_right.png" alt="" class="before_btn">
                <div id="myPage_setting_header_title">이전</div>
            </button>
        </header>

        <section class="my_review_container">
            <div class="section_header styled-border">
                <div class="section_header_title">내가 쓴 리뷰</div>
            </div>
            <div class="review_container">
                <div class="review_item">
                    <div class="review_leftContainer">
                        <div class="review_img_container">
                            <img src="../../static/img/balls_icon.png" alt="내가 쓴 리뷰 사진" class="review_img">
                        </div>
                        <div class="heart_container">
                            <span class="iconify heart-icon" data-icon="akar-icons:heart"></span>
                            <span class="heart_cnt">0개</span>
                        </div>
                    </div>
                    <div class="review_rightContainer">
                        <div class="my_review_titleAndWriter">
                            <div class="review_title">브랜드명 상품명</div>
                            <div class="review_writerAndTime">작성자 / 작성 시간</div>
                        </div>
                        <div class="my_review_star">별점</div>
                        <div class="my_review_likeAndComment">좋아요 수 / 댓글 수 </div>
                        <div class="my_review_writerDetail">성별 / 체형 / 운동수준</div>
                        <div class="my_review_buyInfo">구매출처 / 구매가격</div>
                        <div class="my_review_content_container">
                            <div class="my_review_content_title">리뷰 내용</div>
                            <div class="my_review_content">
                                리뷰 내용 입니다.
                            </div>
                        </div>
                    </div>
                </div>
    
    
                <div class="review_item">
                    <div class="review_leftContainer">
                        <div class="review_img_container">
                            <img src="../../static/img/balls_icon.png" alt="내가 쓴 리뷰 사진" class="review_img">
                        </div>
                        <div class="heart_container">
                            <span class="iconify heart-icon" data-icon="akar-icons:heart"></span>
                            <span class="heart_cnt">0개</span>
                        </div>
                    </div>
                    <div class="review_rightContainer">
                        <div class="my_review_titleAndWriter">
                            <div class="review_title">브랜드명 상품명</div>
                            <div class="review_writerAndTime">작성자 / 작성 시간</div>
                        </div>
                        <div class="my_review_star">별점</div>
                        <div class="my_review_likeAndComment">좋아요 수 / 댓글 수 </div>
                        <div class="my_review_writerDetail">성별 / 체형 / 운동수준</div>
                        <div class="my_review_buyInfo">구매출처 / 구매가격</div>
                        <div class="my_review_content_container">
                            <div class="my_review_content_title">리뷰 내용</div>
                            <div class="my_review_content">
                            </div>
                        </div>
                    </div>
                </div>
    
            </div>
        <section class="my_review_container">
        <div class="writeReview_btn_container">
            <div class="btn_text">리뷰 작성하기</div>
            <img src="../../static/img/pencil_icon.png" alt="연필아이콘" id="pencil_icon">
        </div>
    </main>
    
</body>
</html>