<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>내가 쓴 리뷰</title>
    <link rel="stylesheet" href="../../static/css/myReview_detailPage.css">
    <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script defer type="module" src="../../static/js/myReview_detailPage.js"></script>
</head>
<body>
    <header class="default_header"></header>
    <button type="button" class="page_up_btn">
        <img src="../../static/img/page_up_icon.png" alt="맨위로" class="page_up_icon">
    </button>
    <main>
        <header class="myPage_setting_header">
            <button class="before_btn_container" type="button">
                <img src="../../static/img/angles_right.png" alt="" class="before_btn">
                <div id="myPage_setting_header_title">이전</div>
            </button>
        </header>

        <section class="my_review_container">
            <div class="section_header styled-border">
                <div class="section_header_title">내가 쓴 리뷰</div>
            </div>
            <div class="review_container">
            </div>
        <section class="my_review_container">
        <div class="writeReview_btn_container">
            <div class="btn_text">리뷰 작성하기</div>
            <img src="../../static/img/pencil_icon.png" alt="연필아이콘" id="pencil_icon">
        </div>
    </main>
    
</body>
</html>