/* 페이지 맨 위로 아이콘 */
.page_up_icon{
    position: absolute;
    right: 5vw;
    top: 50%;
    transform: translate(0, -50%);
    /* width: 50px;
    height: 50px; */
    width: 3.26vw;
    height: 3.26vw;
    transition: top 1s ease-in-out;
}
.page_up_icon:hover{
    cursor: pointer;
}

@media (max-width:1264px) {
    .page_up_icon{
        right: 5px;
        width: 40px;
        height: 40px;
    }
    
}
