<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>스포츠하다</title>
		<link rel="stylesheet" href="/css/reset.css" />
		<link rel="stylesheet" href="/css/main_common.css" />
		<link rel="stylesheet" href="/css/main_header.css" />
		<link rel="stylesheet" href="/css/best_review.css" />
		<link rel="stylesheet" href="/css/reviewContainer.css" />
		<link rel="stylesheet" href="/css/reviewContainer_plus.css" />
		<script type="module" src="/js/best_review.js"></script>
		<script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
		<script type="module" src="/js/header.js"></script>
	</head>
	<body>
		<div id="content">
			<header></header>
			<section>
				<div class="flex_col">
					<div id="title_box">
						<div id="title" class="styled-border">베스트 리뷰</div>
					</div>
					<div id="review_container">
						<a href="#">
							<div class="review_item">
								<div class="review_leftContainer">
									<div class="review_img_container">
										<img class="review_img loading" />
									</div>
									<div class="heart_container">
										<span class="iconify heart-icon"></span>
										<span class="heart_cnt loading"></span>
									</div>
								</div>
								<div class="review_rightContainer">
									<div class="my_review_titleAndWriter">
										<div class="review_title loading"></div>
										<div class="review_writerAndTime loading"></div>
									</div>
									<div class="my_review_star loading"></div>
									<div class="my_review_likeAndComment loading"></div>
									<div class="my_review_writerDetail loading"></div>
									<div class="my_review_buyInfo loading"></div>
									<div class="my_review_content loading"></div>
								</div>
							</div>
						</a>
					</div>
				</div>
			</section>
		</div>
		<footer></footer>
	</body>
</html>
