<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>스포츠하다</title>
		<link rel="stylesheet" href="/css/reset.css" />
		<link rel="stylesheet" href="/css/main_common.css" />
		<link rel="stylesheet" href="/css/main_header.css" />
		<link rel="stylesheet" href="/css/footer.css" />
		<link rel="stylesheet" href="/css/main.css" />
		<script type="module" src="/js/main.js"></script>
		<script type="module" src="/js/header.js"></script>
	</head>
	<body>
		<div id="content">
			<header></header>
		<section>
			<div id="ad_banner"></div>
			<article>
				<div class="article-title">추천 리뷰</div>
				<div id="recommend-container" class="flex_row">
					<button id="article-arrow-left">
						<img class="article-arrow-img" src="/img/scrollL_icon.png">
					</button>
					<button id="article-arrow-right">
						<img class="article-arrow-img" src="/img/scrollR_icon.png">
					</button>
					<a href="#">
						<div class="article-item">
							<img class="article-item-img loading" />
							<div class="article-item-info flex_row loading">
								<span class="item_brand article-item-info_font"></span>
								<span class="item_name article-item-info_font"></span>
							</div>
						</div>
					</a>
					<a href="#">
						<div class="article-item">
							<img class="article-item-img loading" />
							<div class="article-item-info flex_row loading">
								<span class="item_brand article-item-info_font"></span>
								<span class="item_name article-item-info_font"></span>
							</div>
						</div>
					</a>
					<a href="#">
						<div class="article-item">
							<img class="article-item-img loading" />
							<div class="article-item-info flex_row loading">
								<span class="item_brand article-item-info_font"></span>
								<span class="item_name article-item-info_font"></span>
							</div>
						</div>
					</a>
					<a href="#">
						<div class="article-item">
							<img class="article-item-img loading" />
							<div class="article-item-info flex_row loading">
								<span class="item_brand article-item-info_font"></span>
								<span class="item_name article-item-info_font"></span>
							</div>
						</div>
					</a>
					<button class="article-arrow"></button>
				</div>
			</article>
			<article>
				<div class="article-title">베스트 리뷰</div>
				<ur id="article-nav" class="flex_row">
					<li class="article-nav-item"><a href="#">테니스</a></li>
					<li class="article-nav-item"><a href="#">하이킹</a></li>
					<li class="article-nav-item"><a href="#">수영</a></li>
					<li class="article-nav-item"><a href="#">헬스/필라테스/요가</a></li>
					<li class="article-nav-item"><a href="#">골프</a></li>
					<li class="article-nav-item"><a href="#">축구/야구/농구</a></li>
				</ur>
				<a href="#" class="flex_row">
					<div class="detail_btn flex_row">
						<div>상세 보기</div>
						<img src="../../static/img/detail_icon.png" /></a>
					</div>
				</a>
				<div id="best-container">
					<a href="#">
						<div class="article-item">
							<img class="article-item-img loading" />
							<div class="article-item-info flex_row loading">
								<span class="item_brand article-item-info_font"></span>
								<span class="item_name article-item-info_font"></span>
							</div>
						</div>
					</a>
					<a href="#">
						<div class="article-item">
							<img class="article-item-img loading" />
							<div class="article-item-info flex_row loading">
								<span class="item_brand article-item-info_font"></span>
								<span class="item_name article-item-info_font"></span>
							</div>
						</div>
					</a>
					<a href="#">
						<div class="article-item">
							<img class="article-item-img loading" />
							<div class="article-item-info flex_row loading">
								<span class="item_brand article-item-info_font"></span>
								<span class="item_name article-item-info_font"></span>
							</div>
						</div>
					</a>
					<a href="#">
						<div class="article-item">
							<img class="article-item-img loading" />
							<div class="article-item-info flex_row loading">
								<span class="item_brand article-item-info_font"></span>
								<span class="item_name article-item-info_font"></span>
							</div>
						</div>
					</a>
					<a href="#">
						<div class="article-item">
							<img class="article-item-img loading" />
							<div class="article-item-info flex_row loading">
								<span class="item_brand article-item-info_font"></span>
								<span class="item_name article-item-info_font"></span>
							</div>
						</div>
					</a>
					<a href="#">
						<div class="article-item">
							<img class="article-item-img loading" />
							<div class="article-item-info flex_row loading">
								<span class="item_brand article-item-info_font"></span>
								<span class="item_name article-item-info_font"></span>
							</div>
						</div>
					</a>
					<a href="#">
						<div class="article-item">
							<img class="article-item-img loading" />
							<div class="article-item-info flex_row loading">
								<span class="item_brand article-item-info_font"></span>
								<span class="item_name article-item-info_font"></span>
							</div>
						</div>
					</a>
					<a href="#">
						<div class="article-item">
							<img class="article-item-img loading" />
							<div class="article-item-info flex_row loading">
								<span class="item_brand article-item-info_font"></span>
								<span class="item_name article-item-info_font"></span>
							</div>
						</div>
					</a>
				</div>
			</article>
		</section>
		</div>
		<footer></footer>
	</body>
</html>
