<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0" /> -->
		<title>스포츠하다</title>
		<link rel="stylesheet" href="../../static/css/reset.css" />
		<link rel="stylesheet" href="./main.css" />
	</head>
	<body>
		<header>
			<div id="header_title">
				<div id="header-center"><img id="center-logo" src="../../static/img/logo_1.png" /></div>
				<div id="header-right" class="flex_row">
					<div class="header-right-item divider">유저님 안녕하세요</div>
					<div class="header-right-item divider">
						<a href="#">마이페이지</a>
					</div>
					<div class="header-right-item">
						<button>로그아웃</button>
					</div>
					<div class="header-right-item"></div>
				</div>
			</div>
			<nav class="flex_row">
				<ur id="nav-category" class="flex_row">
					<li class="nav-item nav-left"><a href="#">베스트</a></li>
					<li class="nav-item"><a href="#">남성</a></li>
					<li class="nav-item"><a href="#">여성</a></li>
					<li class="nav-item"><a href="#">홈트도구</a></li>
				</ur>
				<div id="search_box">
					<form>
						<input type="text" id="search-input" />
						<button type="submit">딸깍</button>
					</form>
				</div>
			</nav>
		</header>
		<section>
			<div id="ad_banner"></div>
			<article>
				<div class="article-title">추천 리뷰</div>
				<div id="recommend-container" class="flex_row">
					<button class="article-arrow"></button>
					<a href="#">
						<div class="article-item">
							<img class="article-item-img" />
							<div class="article-item-info article-item-info_font flex_row">
								<span class="item_brand">브랜드명</span>
								<span class="item_name">상품명</span>
							</div>
						</div> </a
					><a href="#">
						<div class="article-item">
							<img class="article-item-img" />
							<div class="article-item-info article-item-info_font flex_row">
								<span class="item_brand">브랜드명</span>
								<span class="item_name">상품명</span>
							</div>
						</div> </a
					><a href="#">
						<div class="article-item">
							<img class="article-item-img" />
							<div class="article-item-info article-item-info_font flex_row">
								<span class="item_brand">브랜드명</span>
								<span class="item_name">상품명</span>
							</div>
						</div> </a
					><a href="#">
						<div class="article-item">
							<img class="article-item-img" />
							<div class="article-item-info article-item-info_font flex_row">
								<span class="item_brand">브랜드명</span>
								<span class="item_name">상품명</span>
							</div>
						</div> </a
					><a href="#">
						<div class="article-item">
							<img class="article-item-img" />
							<div class="article-item-info article-item-info_font flex_row">
								<span class="item_brand">브랜드명</span>
								<span class="item_name">상품명</span>
							</div>
						</div> </a
					><a href="#">
						<div class="article-item">
							<img class="article-item-img" />
							<div class="article-item-info article-item-info_font flex_row">
								<span class="item_brand">브랜드명</span>
								<span class="item_name">상품명</span>
							</div>
						</div> </a
					><a href="#">
						<div class="article-item">
							<img class="article-item-img" />
							<div class="article-item-info article-item-info_font flex_row">
								<span class="item_brand">브랜드명</span>
								<span class="item_name">상품명</span>
							</div>
						</div> </a
					><a href="#">
						<div class="article-item">
							<img class="article-item-img" />
							<div class="article-item-info article-item-info_font flex_row">
								<span class="item_brand">브랜드명</span>
								<span class="item_name">상품명</span>
							</div>
						</div> </a
					><a href="#">
						<div class="article-item">
							<img class="article-item-img" />
							<div class="article-item-info article-item-info_font flex_row">
								<span class="item_brand">브랜드명</span>
								<span class="item_name">상품명</span>
							</div>
						</div> </a
					><a href="#">
						<div class="article-item">
							<img class="article-item-img" />
							<div class="article-item-info article-item-info_font flex_row">
								<span class="item_brand">브랜드명</span>
								<span class="item_name">상품명</span>
							</div>
						</div> </a
					><a href="#">
						<div class="article-item">
							<img class="article-item-img" />
							<div class="article-item-info article-item-info_font flex_row">
								<span class="item_brand">브랜드명</span>
								<span class="item_name">상품명</span>
							</div>
						</div> </a
					><a href="#">
						<div class="article-item">
							<img class="article-item-img" />
							<div class="article-item-info article-item-info_font flex_row">
								<span class="item_brand">브랜드명</span>
								<span class="item_name">상품명</span>
							</div>
						</div> </a
					><a href="#">
						<div class="article-item">
							<img class="article-item-img" />
							<div class="article-item-info article-item-info_font flex_row">
								<span class="item_brand">브랜드명</span>
								<span class="item_name">상품명</span>
							</div>
						</div> </a
					><a href="#">
						<div class="article-item">
							<img class="article-item-img" />
							<div class="article-item-info article-item-info_font flex_row">
								<span class="item_brand">브랜드명</span>
								<span class="item_name">상품명</span>
							</div>
						</div> </a
					><a href="#">
						<div class="article-item">
							<img class="article-item-img" />
							<div class="article-item-info article-item-info_font flex_row">
								<span class="item_brand">브랜드명</span>
								<span class="item_name">상품명</span>
							</div>
						</div> </a
					><a href="#">
						<div class="article-item">
							<img class="article-item-img" />
							<div class="article-item-info article-item-info_font flex_row">
								<span class="item_brand">브랜드명</span>
								<span class="item_name">상품명</span>
							</div>
						</div> </a
					><a href="#">
						<div class="article-item">
							<img class="article-item-img" />
							<div class="article-item-info article-item-info_font flex_row">
								<span class="item_brand">브랜드명</span>
								<span class="item_name">상품명</span>
							</div>
						</div> </a
					><a href="#">
						<div class="article-item">
							<img class="article-item-img" />
							<div class="article-item-info article-item-info_font flex_row">
								<span class="item_brand">브랜드명</span>
								<span class="item_name">상품명</span>
							</div>
						</div> </a
					><a href="#">
						<div class="article-item">
							<img class="article-item-img" />
							<div class="article-item-info article-item-info_font flex_row">
								<span class="item_brand">브랜드명</span>
								<span class="item_name">상품명</span>
							</div>
						</div> </a
					><a href="#">
						<div class="article-item">
							<img class="article-item-img" />
							<div class="article-item-info article-item-info_font flex_row">
								<span class="item_brand">브랜드명</span>
								<span class="item_name">상품명</span>
							</div>
						</div>
					</a>
					<button class="article-arrow"></button>
				</div>
			</article>
			<article>
				<div class="article-title">베스트 리뷰</div>
				<ur id="article-nav" class="flex_row">
					<li class="article-nav-item"><a href="#">테니스</a></li>
					<li class="article-nav-item"><a href="#">하이킹</a></li>
					<li class="article-nav-item"><a href="#">수영</a></li>
					<li class="article-nav-item"><a href="#">헬스/필라테스/요가</a></li>
					<li class="article-nav-item"><a href="#">골프</a></li>
					<li class="article-nav-item"><a href="#">축구/야구/농구</a></li>
				</ur>
				<a href="#" class="flex_row">
					<div class="detail_btn flex_row">
						<div>상세 보기</div>
						<img src="../../static/img/detail_icon.png" /></a>
					</div>
				</a>
				<div id="best-container">
					<a href="#">
						<div class="article-item">
							<img class="article-item-img" />
							<div class="article-item-info article-item-info_font flex_row">
								<span class="item_brand">브랜드명</span>
								<span class="item_name">상품명</span>
							</div>
						</div>
					</a>
					<div class="article-item">
						<img class="article-item-img" />
						<div class="article-item-info article-item-info_font flex_row">
							<span class="item_brand">브랜드명</span>
							<span class="item_name">상품명</span>
						</div>
					</div>
					<a href="#">
						<div class="article-item">
							<img class="article-item-img" />
							<div class="article-item-info article-item-info_font flex_row">
								<span class="item_brand">브랜드명</span>
								<span class="item_name">상품명</span>
							</div>
						</div>
					</a>
					<a href="#">
						<div class="article-item">
							<img class="article-item-img" />
							<div class="article-item-info article-item-info_font flex_row">
								<span class="item_brand">브랜드명</span>
								<span class="item_name">상품명</span>
							</div>
						</div>
					</a>
					<a href="#">
						<div class="article-item">
							<img class="article-item-img" />
							<div class="article-item-info article-item-info_font flex_row">
								<span class="item_brand">브랜드명</span>
								<span class="item_name">상품명</span>
							</div>
						</div>
					</a>
					<a href="#">
						<div class="article-item">
							<img class="article-item-img" />
							<div class="article-item-info article-item-info_font flex_row">
								<span class="item_brand">브랜드명</span>
								<span class="item_name">상품명</span>
							</div>
						</div>
					</a>
					<a href="#">
						<div class="article-item">
							<img class="article-item-img" />
							<div class="article-item-info article-item-info_font flex_row">
								<span class="item_brand">브랜드명</span>
								<span class="item_name">상품명</span>
							</div>
						</div>
					</a>
					<a href="#">
						<div class="article-item">
							<img class="article-item-img" />
							<div class="article-item-info article-item-info_font flex_row">
								<span class="item_brand">브랜드명</span>
								<span class="item_name">상품명</span>
							</div>
						</div>
					</a>
				</div>
			</article>
		</section>
		<footer></footer>
	</body>
</html>
