<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>스포츠하다</title>
		<link rel="stylesheet" href="../../static/css/reset.css" />
		<link rel="stylesheet" href="../../static/css/main_header.css" />
		<link rel="stylesheet" href="../../static/css/main.css" />
		<script type="module" src="../../static/js/main.js"></script>
		<!-- <script type="module" src="../../static/js/header.js"></script> -->
	</head>
	<body>
		<div id="content">
			<header></header>
		<section>
			<div id="ad_banner"></div>
			<article>
				<div class="article-title">추천 리뷰</div>
				<div id="recommend-container" class="flex_row">
					<button id="article-arrow-left">
						<img class="article-arrow-img" src="../../static/img/scrollL_icon.png">
					</button>
					<button id="article-arrow-right">
						<img class="article-arrow-img" src="../../static/img/scrollR_icon.png">
					</button>
					<a href="#">
						<div class="article-item">
							<img class="article-item-img" />
							<div class="article-item-info flex_row">
								<span class="item_brand article-item-info_font">브랜드명확인????</span>
								<span class="item_name article-item-info_font">상품명</span>
							</div>
						</div> </a
					><a href="#">
						<div class="article-item">
							<img class="article-item-img" />
							<div class="article-item-info flex_row">
								<span class="item_brand article-item-info_font">브랜드명1</span>
								<span class="item_name article-item-info_font">상품명</span>
							</div>
						</div> </a
					><a href="#">
						<div class="article-item">
							<img class="article-item-img" />
							<div class="article-item-info flex_row">
								<span class="item_brand article-item-info_font">브랜드명2</span>
								<span class="item_name article-item-info_font">상품명</span>
							</div>
						</div> </a
					><a href="#">
						<div class="article-item">
							<img class="article-item-img" />
							<div class="article-item-info flex_row">
								<span class="item_brand article-item-info_font">브랜드명3</span>
								<span class="item_name article-item-info_font">상품명</span>
							</div>
						</div> </a
					><a href="#">
						<div class="article-item">
							<img class="article-item-img" />
							<div class="article-item-info flex_row">
								<span class="item_brand article-item-info_font">브랜드명4</span>
								<span class="item_name article-item-info_font">상품명</span>
							</div>
						</div> </a
					><a href="#">
						<div class="article-item">
							<img class="article-item-img" />
							<div class="article-item-info flex_row">
								<span class="item_brand article-item-info_font">브랜드명5</span>
								<span class="item_name article-item-info_font">상품명</span>
							</div>
						</div> </a
					><a href="#">
						<div class="article-item">
							<img class="article-item-img" />
							<div class="article-item-info flex_row">
								<span class="item_brand article-item-info_font">브랜드명6</span>
								<span class="item_name article-item-info_font">상품명</span>
							</div>
						</div> </a
					><a href="#">
						<div class="article-item">
							<img class="article-item-img" />
							<div class="article-item-info flex_row">
								<span class="item_brand article-item-info_font">브랜드명7</span>
								<span class="item_name article-item-info_font">상품명</span>
							</div>
						</div> </a
					><a href="#">
						<div class="article-item">
							<img class="article-item-img" />
							<div class="article-item-info flex_row">
								<span class="item_brand article-item-info_font">브랜드명8</span>
								<span class="item_name article-item-info_font">상품명</span>
							</div>
						</div> </a
					><a href="#">
						<div class="article-item">
							<img class="article-item-img" />
							<div class="article-item-info flex_row">
								<span class="item_brand article-item-info_font">브랜드명9</span>
								<span class="item_name article-item-info_font">상품명</span>
							</div>
						</div> </a
					><a href="#">
						<div class="article-item">
							<img class="article-item-img" />
							<div class="article-item-info flex_row">
								<span class="item_brand article-item-info_font">브랜드명10</span>
								<span class="item_name article-item-info_font">상품명</span>
							</div>
						</div> </a
					><a href="#">
						<div class="article-item">
							<img class="article-item-img" />
							<div class="article-item-info flex_row">
								<span class="item_brand article-item-info_font">브랜드명11</span>
								<span class="item_name article-item-info_font">상품명</span>
							</div>
						</div> </a
					><a href="#">
						<div class="article-item">
							<img class="article-item-img" />
							<div class="article-item-info flex_row">
								<span class="item_brand article-item-info_font">브랜드명12</span>
								<span class="item_name article-item-info_font">상품명</span>
							</div>
						</div> </a
					><a href="#">
						<div class="article-item">
							<img class="article-item-img" />
							<div class="article-item-info flex_row">
								<span class="item_brand article-item-info_font">브랜드명13</span>
								<span class="item_name article-item-info_font">상품명</span>
							</div>
						</div> </a
					><a href="#">
						<div class="article-item">
							<img class="article-item-img" />
							<div class="article-item-info flex_row">
								<span class="item_brand article-item-info_font">브랜드명14</span>
								<span class="item_name article-item-info_font">상품명</span>
							</div>
						</div> </a
					><a href="#">
						<div class="article-item">
							<img class="article-item-img" />
							<div class="article-item-info flex_row">
								<span class="item_brand article-item-info_font">브랜드명15</span>
								<span class="item_name article-item-info_font">상품명</span>
							</div>
						</div> </a
					><a href="#">
						<div class="article-item">
							<img class="article-item-img" />
							<div class="article-item-info flex_row">
								<span class="item_brand article-item-info_font">브랜드명16</span>
								<span class="item_name article-item-info_font">상품명</span>
							</div>
						</div> </a
					><a href="#">
						<div class="article-item">
							<img class="article-item-img" />
							<div class="article-item-info flex_row">
								<span class="item_brand article-item-info_font">브랜드명17</span>
								<span class="item_name article-item-info_font">상품명</span>
							</div>
						</div> </a
					><a href="#">
						<div class="article-item">
							<img class="article-item-img" />
							<div class="article-item-info flex_row">
								<span class="item_brand article-item-info_font">브랜드명18</span>
								<span class="item_name article-item-info_font">상품명</span>
							</div>
						</div> </a
					><a href="#">
						<div class="article-item">
							<img class="article-item-img" />
							<div class="article-item-info flex_row">
								<span class="item_brand article-item-info_font">브랜드명19</span>
								<span class="item_name article-item-info_font">상품명</span>
							</div>
						</div>
					</a>
					<button class="article-arrow"></button>
				</div>
			</article>
			<article>
				<div class="article-title">베스트 리뷰</div>
				<ur id="article-nav" class="flex_row">
					<li class="article-nav-item"><a href="#">테니스</a></li>
					<li class="article-nav-item"><a href="#">하이킹</a></li>
					<li class="article-nav-item"><a href="#">수영</a></li>
					<li class="article-nav-item"><a href="#">헬스/필라테스/요가</a></li>
					<li class="article-nav-item"><a href="#">골프</a></li>
					<li class="article-nav-item"><a href="#">축구/야구/농구</a></li>
				</ur>
				<a href="#" class="flex_row">
					<div class="detail_btn flex_row">
						<div>상세 보기</div>
						<img src="../../static/img/detail_icon.png" /></a>
					</div>
				</a>
				<div id="best-container">
					<a href="#">
						<div class="article-item">
							<img class="article-item-img" />
							<div class="article-item-info flex_row">
								<span class="item_brand article-item-info_font">브랜드명</span>
								<span class="item_name article-item-info_font">상품명</span>
							</div>
						</div>
					</a>
					<div class="article-item">
						<img class="article-item-img" />
						<div class="article-item-info flex_row">
							<span class="item_brand article-item-info_font">브랜드명</span>
							<span class="item_name article-item-info_font">상품명</span>
						</div>
					</div>
					<a href="#">
						<div class="article-item">
							<img class="article-item-img" />
							<div class="article-item-info flex_row">
								<span class="item_brand article-item-info_font">브랜드명</span>
								<span class="item_name article-item-info_font">상품명</span>
							</div>
						</div>
					</a>
					<a href="#">
						<div class="article-item">
							<img class="article-item-img" />
							<div class="article-item-info flex_row">
								<span class="item_brand article-item-info_font">브랜드명</span>
								<span class="item_name article-item-info_font">상품명</span>
							</div>
						</div>
					</a>
					<a href="#">
						<div class="article-item">
							<img class="article-item-img" />
							<div class="article-item-info flex_row">
								<span class="item_brand article-item-info_font">브랜드명</span>
								<span class="item_name article-item-info_font">상품명</span>
							</div>
						</div>
					</a>
					<a href="#">
						<div class="article-item">
							<img class="article-item-img" />
							<div class="article-item-info flex_row">
								<span class="item_brand article-item-info_font">브랜드명</span>
								<span class="item_name article-item-info_font">상품명</span>
							</div>
						</div>
					</a>
					<a href="#">
						<div class="article-item">
							<img class="article-item-img" />
							<div class="article-item-info flex_row">
								<span class="item_brand article-item-info_font">브랜드명</span>
								<span class="item_name article-item-info_font">상품명</span>
							</div>
						</div>
					</a>
					<a href="#">
						<div class="article-item">
							<img class="article-item-img" />
							<div class="article-item-info flex_row">
								<span class="item_brand article-item-info_font">브랜드명</span>
								<span class="item_name ">상품명</span>
							</div>
						</div>
					</a>
				</div>
			</article>
		</section>
		</div>
		<div id="footer">
			<div id="footer-content" class="styled-border">
				<ul id="footer-nav" class="flex_row">
					<li class="footer-nav-item"><a href="#">이용약관</a></li>
					<li class="footer-nav-item"><a href="#">개인정보처리방침</a></li>
					<li class="footer-nav-item"><a href="#">커뮤니티이용규칙</a></li>
					<li class="footer-nav-item"><a href="#">공지사항</a></li>
					<li class="footer-nav-item"><a href="#">문의하기</a></li>
				</ul>
				<div id="logo">
					<img src="../../static/img/logo.png"/>
				</div>
			</div>
		</div>
	</body>
</html>
