<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="../../static/css/ExerciseList.css" rel="stylesheet">
    <link href="../../static/css/reset.css">
    <link href="../../static/css/variable.css">
    <script src="../../static/js/ExerciseList_m.js"></script>
    <script type="module" src="../../static/js/main.js"></script>
    <link rel="stylesheet" href="../../static/css/main_header2.css" />
    <link rel="stylesheet" href="../../static/css/main.css" />

    <title>스포츠한다</title>
</head>

<body>
    <div id="body-wrapper">


        <div id="content">
            <header></header>


            <section>
                <div id="add-banner">

                </div>



                <div class="gender-container">
                    <p class="genderText">남성</p>
                </div>

                <div style="z-index: -1; position: relative;">
                    <div class="styled-border">
                        <hr class="first-hr">
                    </div>
                </div>



                <div class="center-box" style="margin-top: 3vw;">


                    <div class="baseball circle" OnClick="location.href ='https://#'">
                        <div class="Text-container">
                            <p class="circleText">축구/농구/야구</p>
                            <div id="baseball-count">

                            </div>
                        </div>

                    </div>



                    <div class="golf circle" OnClick="location.href ='https://#'">
                        <div class="Text-container">
                            <p class="circleText">골프</p>
                            <div id="golf-count">

                            </div>
                        </div>
                    </div>



                    <div class="hike circle" OnClick="location.href ='https://#'">
                        <div class="Text-container">
                            <p class="circleText">등산</p>
                            <div id="hiking-count">

                            </div>
                        </div>

                    </div>

                </div>




                <div class="center-box" style="margin-top: 3.7vw; margin-bottom: 11.86vw;">


                    <div class="swim circle" OnClick="location.href ='https://#'">
                        <div class="Text-container">
                            <p class="circleText">수영</p>
                            <div id="swim-count">

                            </div>
                        </div>

                    </div>


                    <div class="tennis circle" OnClick="location.href ='https://#'">
                        <div class="Text-container">
                            <p class="circleText">테니스</p>
                            <div id="tennis-count">

                            </div>
                        </div>
                    </div>


                    <div class="gym circle" OnClick="location.href ='https://#'">
                        <div class="Text-container">
                            <p class="circleText">헬스/필라테스/요가</p>
                            <div id="gym-count">

                            </div>
                        </div>
                    </div>

                </div>

            </section>
        </div>
    </div>





    <div id="footer">
        <div id="footer-content" class="styled-border2">
            <ul id="footer-nav" class="flex_row">
                <li class="footer-nav-item"><a href="#">이용약관</a></li>
                <li class="footer-nav-item"><a href="#">개인정보처리방침</a></li>
                <li class="footer-nav-item"><a href="#">커뮤니티이용규칙</a></li>
                <li class="footer-nav-item"><a href="#">공지사항</a></li>
                <li class="footer-nav-item"><a href="#">문의하기</a></li>
            </ul>
            <div id="logo">
                <img src="../../static/img/logo.png" />
            </div>
        </div>
    </div>


</body>


</html>