@import "./variable.css";
@import "./reset.css";
@import "./myPage_component/header_before.css";
@import "./reviewContainer.css";
@import "./myPage_component/page_up_btn.css";
@import "./myPage_component/reviewContainer_plus.css";
@import "./myPage_component/review_skeleton.css";
@import "./main_header.css";

body{
    width: 1264px;
    margin: 0 auto;
}

.section_header{
    margin: 0 37px 42px 37px;
    padding: 45.55px 0 18px 31px;
}

.section_header_title{
    font-family: 'GmarketSans';
    font-weight: 700;
    font-size: 17px;
    color: var(--black);
}

/* 리뷰 컨테이너 관련 */
.review_item:last-child{
    margin-bottom: 102px;
}

@media (max-width: 1264px) {
    body{
        width: 100%;
    }

    main{
        margin: 0 20px;
    }
}

@media (max-width: 400px) {
    .section_header{
        margin: 0 0 42px 0;
        padding: 30px 0 18px 15px;
    }
    
    .section_header_title{
        font-family: 'GmarketSans';
        font-weight: 700;
        font-size: 14px;
        color: var(--black);
    }
}