@import url("../../static/css/variable.css");
/*
**공통*/
#content {
	position: relative;
	width: 1264px;
	margin: 0 auto 80px;
	padding: 0.1px 0 0 0;
}
.flex_row {
	display: flex;
	flex-direction: row;
	align-items: center;
	overflow: hidden;
}
.flex_col {
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
}
.not_scroll {
	overflow: hidden;
}
.divider {
	border-right: 1px solid black;
}

.styled-border {
	position: relative;
}

.styled-border::before {
	content: "▶︎";
	position: absolute;
	top: -5.5px;
	left: -2px;
	color: white;
	font-size: 9px;
}

.styled-border::after {
	content: "▶︎";
	position: absolute;
	top: -5.5px;
	right: -2px;
	transform: scaleX(-1);
	color: white;
	font-size: 9px;
}
/*
**헤더*/
/*공통*/
#center-logo {
	width: 311px;
}
/*데스크탑*/
#header-desktop {
	display: block;
}
#header_title {
	position: relative;
	margin: 37px 0 21px;
}
#header-center {
	width: fit-content;
	margin: 0 auto;
}
.header-right-item {
	padding: 0 8px;
	font-family: GmarketSans;
	font-size: 13px;
	font-weight: 500;
}
.header-right-item > a {
	font-family: GmarketSans;
	font-size: 13px;
	font-weight: 500;
}
#header-right {
	position: absolute;
	justify-content: end;
	right: 35px;
	bottom: 0px;
}
/*모바일*/
#header-mobile {
	display: none;
	padding: 0 50px;
}
#header-mobile-right {
	justify-content: end;
}
#header-mobile_title {
	justify-content: space-between;
	margin: 37px 0 27px;
}
#hamberger > label {
	z-index: 100;
}
.header-right-item > a > svg {
	width: 24px;
	height: 24px;
	color: var(--black);
}
input[id="trigger"] {
	display: none;
}
label {
	position: relative;
	display: inline-block;
	width: 24px;
	height: 20px;
}
label[for="trigger"] span {
	position: absolute;
	left: 0;
	height: 2px;
	width: 100%;
	background-color: #000;
	transition: 300ms;
}
label[for="trigger"] span:nth-child(1) {
	top: 0;
}
label[for="trigger"] span:nth-child(2) {
	top: 50%;
}
label[for="trigger"] span:nth-child(3) {
	top: 100%;
}
input[id="trigger"]:checked + label[for="trigger"] span:nth-child(1) {
	top: 50%;
	transform: rotate(45deg);
}
input[id="trigger"]:checked + label[for="trigger"] span:nth-child(2) {
	opacity: 0;
}
input[id="trigger"]:checked + label[for="trigger"] span:nth-child(3) {
	top: 50%;
	transform: rotate(-45deg);
}
/*
**네비게이션바*/
/*데스크탑*/
#nav-desktop {
	height: 54.23px;
	justify-content: space-between;
	background: var(--yellow);
}
#nav-category {
	height: 100%;
}
.nav-item > a {
	font-family: GmarketSans;
	font-size: 16px;
	font-weight: 500;
	padding: 0 max(2.35vw, 45px);
}
.nav-left {
	padding: 0 5.3vw;
	border-right: solid 1px #001707;
	margin-right: 2.35vw;
}
#search_box {
	width: 21.15vw;
	margin-right: 35px;
	background: #ffffff;
	border-radius: 26px;
	overflow: hidden;
}
#search_box > form {
	justify-content: center;
}
#search-input {
	width: 80%;
	height: 38px;
	padding-left: 10px;
}
#search-button {
	height: 100%;
	padding: 0 10px;
}
#search-button > svg {
	width: 24px;
	height: 24px;
}
/*모바일*/
#dimd-on {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 8;
	opacity: 0.3;
	background: rgba(0, 0, 0);
	backdrop-filter: blur(10px);
	transition: opacity 0.8s ease;
}
#dimd-off {
	z-index: -1;
	opacity: -1;
}
#nav-mobile {
	width: 320px;
	height: 100vh;
	padding: 130px 50px 0;
	overflow: scroll;
	display: none;
	position: fixed;
	background: white;
	position: absolute;
	left: -320px;
	top: 0;
	right: 0;
	z-index: 8;
	transition: left 0.8s;
	filter: drop-shadow(8px 4px 30px rgba(0, 0, 0, 0.25));
}
#nav-mobile-container {
	overflow: scroll;
}
#mobile-search-form {
	border-bottom: 2px solid var(--deep-yellow);
}
#mobile-search-input {
	width: 100%;
	height: 30px;
}
#nav-mobile > .nav-mobile-item:first-child {
	border-bottom: 2px solid var(--deep-yellow);
	margin-bottom: 11px;
}
#mobile-search-button > svg {
	width: 24px;
	height: 24px;
}
.nav-mobile-item {
	padding: 11px 0;
}
.nav-mobile-item > .nav-mobile-title {
	padding-bottom: 10px;
}
.nav-mobile-title {
	font-family: GmarketSans;
	font-weight: 700;
	font-size: 18px;
}
.nav-mobile-inner_nav {
	display: none;
}
.nav-mobile-inner_nav-item {
	padding: 15px;
}
.nav-mobile-inner_nav-item > a {
	font-family: "GmarketSans";
	font-weight: 500;
	font-size: 16px;
}
#trigger:checked ~ #nav-mobile {
	left: 0;
}
/*
**컨텐트*/
/*공통*/
#ad_banner {
	width: 100%;
	height: 14.75vw;
	margin: 37px 0;
	background: var(--alarm-bg-yellow);
}
.article-title {
	font-family: GmarketSans;
	font-size: 19px;
	font-weight: 700;
	padding: 28px 0;
}
.article-item {
	width: fit-content;
	padding: 20px; /*Todo 픽셀로 해야할지 고민쓰*/
}
.article-item:hover > img {
	transition: 400ms;
	box-shadow: 2px 4px 12px rgb(0 0 0 / 20%);
}
.article-item-img {
	width: 266px;
	height: 274px;
	background: gray;
	border-radius: 20px;
}
.article-item-info {
	padding-top: 20px;
	justify-content: center;
}
.article-item-info_font {
	/*Todo*/
	font-family: NanumSquare;
	font-size: 15px;
	font-weight: 400;
}
#recommend-container {
	width: 100%;
	padding: 20px;
	margin-bottom: 72px;
	background: var(--green-bg);
	overflow: hidden;
	scroll-behavior: smooth;
	-ms-overflow-style: none;
	scrollbar-width: none;
}
#recommend-container > a {
	transition: transform 2s ease-in-out;
}
/*베스트리뷰*/
#article-nav {
	justify-content: center;
}
.article-nav-item > a {
	/* padding: 0 25px; */
	padding: 0 1.3vw;
	font-family: NanumSquare;
	font-size: 16px;
	font-weight: 400;
	line-height: 23px;
}
.article-nav-item:hover {
	color: var(--orange);
	transition: 200ms;
}
.detail_btn {
	padding: 0 3vw; /*Todo*/
	justify-content: end;
}
.detail_btn > a > div {
	font-family: GmarketSans;
	font-size: 15px;
	font-weight: 800;
}
.detail_btn > a > img {
	width: 30px; /*Todo*/
}
#best-container {
	display: grid;
	grid-template-rows: auto auto;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	row-gap: 15px;
	padding: 20px 0;
}
#article-arrow-left,
#article-arrow-right {
	position: absolute;
}
#article-arrow-left {
	left: -70px;
}
#article-arrow-right {
	right: -70px;
}
.article-arrow-img {
	width: 40px;
}
/**footer**/
#footer {
	width: 100%;
	height: 193px;
	background: var(--yellow);
	padding: 1px;
}
#footer-content {
	width: 1264px;
	margin: 60px auto 18px;
	border-top: 1.5px solid white;
}
#footer-nav {
	justify-content: center;
	padding: 20px;
}
.footer-nav-item {
	padding: 5px;
}
#logo {
	width: fit-content;
	margin: 0 auto;
}
#logo > img {
	width: 41px;
}

/**alarm**/
#alarm-button > svg,
#mobile-alarm-button > svg {
	width: 24px;
	height: 24px;
	color: var(--black);
}
#alarm-modal1,
#mobile-alarm-modal1 {
	display: none;
	position: absolute;
	top: 140px;
	right: 10px;
	width: 314px;
	height: 420px;
	padding: 23px 0px;
	background: var(--alarm-bg-yellow);
	border-radius: 28px;
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
}
#alarm-modal2,
#mobile-alarm-modal2 {
	display: none;
	position: absolute;
	top: 111px;
	right: 28px;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top: 0;
	border-bottom: 30px solid var(--alarm-bg-yellow);
	z-index: 1;
}
#alarm-modal1 > div:first-child,
#mobile-alarm-modal1 > div:first-child {
	width: 100%;
	padding: 0 40px;
}
#alarm-title {
	font-family: "GmarketSans";
	font-weight: 500;
	font-size: 17px;
}
#alarm-container {
	width: 100%;
	height: 100%;
	margin: 15px 0;
	justify-content: start;
	overflow: scroll;
	overscroll-behavior: none;
	scroll-snap-type: y mandatory;
}
#alarm-container::-webkit-scrollbar {
	/* -ms-overflow-style: none;
	scrollbar-width: none; */
	display: none;
}
.alarm-item {
	width: 265px;
	/* height: 130; */
	padding: 15px;
	margin-bottom: 15px;
	background: #f8f8f8;
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
	border-radius: 28px;
}
.alarm-item-title {
	font-family: "NanumSquare";
	font-weight: 400;
	font-size: 14px;
}
.alarm-item-content {
	padding: 12px 0;
	font-family: "NanumSquare";
	font-weight: 300;
	font-size: 14px;
	color: #676767;
}
.alarm-item-date {
	font-family: "NanumSquare";
	font-weight: 300;
	font-size: 12px;
	color: #676767;
}
/*모바일*/
#mobile-alarm-modal1 {
	top: 124px;
	right: 20px;
}
#mobile-alarm-modal2 {
	top: 95px;
	right: 50px;
}
@media (max-width: 1264px) {
	#content {
		width: 100%;
	}
	.article-title {
		padding-left: 50px;
	}
	.article-item {
		padding: 1.6vw;
	}
	.article-item-img {
		width: 21.1vw;
		height: 21.7vw;
	}
	#footer-content {
		width: 100%;
	}
}
@media (max-width: 1424px) {
	#article-arrow-left,
	#article-arrow-right {
		display: none;
	}
	#recommend-container {
		overflow: scroll;
		scroll-snap-type: x mandatory;
	}
	#recommend-container > a {
		scroll-snap-align: start;
	}
	#recommend-container::-webkit-scrollbar {
		display: none;
	}
}
@media (max-width: 1080px) {
	section {
		margin: 0;
	}
	#header-desktop {
		display: none;
	}
	#nav-desktop {
		display: none;
	}
	#header-mobile {
		display: block;
	}
	#nav-mobile {
		display: block;
	}
	.article-title {
		padding-left: 50px;
	}
	.article-item-img {
		width: 24.7vw;
		height: 25.4vw;
	}
	#recommend-container > a:first-of-type {
		padding-left: 30px;
	}
	#best-container {
		display: grid;
		grid-template-rows: auto auto;
		grid-template-columns: 1fr 1fr 1fr;
		row-gap: 15px;
		padding: 35px;
	}
	#article-nav {
		display: none;
	}
	#ad_banner {
		width: 100%;
		height: 40.5vw;
	}
}
