@import url("../../static/css/variable.css");
/*
**컨텐트*/
/*공통*/
#ad_banner {
	width: 100%;
	height: 14.75vw;
	margin: 37px 0;
	background: var(--alarm-bg-yellow);
}
.article-title {
	font-family: GmarketSans;
	font-size: 19px;
	font-weight: 700;
	padding: 28px 0;
}
.article-item {
	width: fit-content;
	padding: 20px; /*Todo 픽셀로 해야할지 고민쓰*/
}
.article-item:hover > img {
	transition: 400ms;
	box-shadow: 2px 4px 12px rgb(0 0 0 / 20%);
}
.article-item-img {
	width: 266px;
	height: 274px;
	border-radius: 20px;
}
.article-item-info {
	width: fit-content;
	margin: 15px auto;
	padding: 5px 30px;
	border-radius: 20px;
	justify-content: center;
}
.article-item-info_font {
	/*Todo*/
	font-family: NanumSquare;
	font-size: 15px;
	font-weight: 400;
}
#recommend-container {
	width: 100%;
	padding: 20px;
	margin-bottom: 72px;
	background: var(--green-bg);
	overflow: hidden;
	scroll-behavior: smooth;
	-ms-overflow-style: none;
	scrollbar-width: none;
}
#recommend-container > a {
	transition: transform 2s ease-in-out;
}
/*베스트리뷰*/
#article-nav {
	justify-content: center;
}
.article-nav-item > a {
	/* padding: 0 25px; */
	padding: 0 1.3vw;
	font-family: NanumSquare;
	font-size: 16px;
	font-weight: 400;
	line-height: 23px;
}
.article-nav-item:hover {
	color: var(--orange);
	transition: 200ms;
}
.detail_btn {
	padding: 0 3vw; /*Todo*/
	justify-content: end;
}
.detail_btn > a > div {
	font-family: GmarketSans;
	font-size: 15px;
	font-weight: 800;
}
.detail_btn > a > img {
	width: 30px; /*Todo*/
}
#best-container {
	display: grid;
	grid-template-rows: auto auto;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	row-gap: 15px;
	padding: 20px 0;
}
#article-arrow-left,
#article-arrow-right {
	position: absolute;
}
#article-arrow-left {
	left: -70px;
}
#article-arrow-right {
	right: -70px;
}
.article-arrow-img {
	width: 40px;
}

@media (max-width: 1264px) {
	.article-title {
		padding-left: 50px;
	}
	.article-item {
		padding: 1.6vw;
	}
	.article-item-img {
		width: 21.1vw;
		height: 21.7vw;
	}
	#footer-content {
		width: 100%;
	}
}
@media (max-width: 1424px) {
	#article-arrow-left,
	#article-arrow-right {
		display: none;
	}
	#recommend-container {
		overflow: scroll;
		scroll-snap-type: x mandatory;
	}
	#recommend-container > a {
		scroll-snap-align: start;
	}
	#recommend-container::-webkit-scrollbar {
		display: none;
	}
}
@media (max-width: 1080px) {
	.article-title {
		padding-left: 50px;
	}
	.article-item-img {
		width: 24.7vw;
		height: 25.4vw;
	}
	#recommend-container > a:first-of-type {
		padding-left: 30px;
	}
	#best-container {
		display: grid;
		grid-template-rows: 1fr 1fr;
		grid-template-columns: 1fr 1fr 1fr;
		overflow: hidden;
		row-gap: 15px;
		padding: 35px;
	}
	#article-nav {
		display: none;
	}
	#ad_banner {
		width: 100%;
		height: 40.5vw;
		margin-top: 0;
	}
}
