@import url("/css/variable.css");
@import url("/css/reset.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.center-box {
  display: flex;
  justify-content: center;
}

.grid-box {
  display: grid;
  grid-template-columns: 1fr 1fr
}

.label-text {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	cursor: pointer;
	margin-left: 5px;
  margin-top: 1px;
}

/*hr attribute*/
.styled-border {
  position: relative;
}

.styled-border::before {
  content: "▶︎";
  position: absolute;
  top: calc(100% - 5.5px);
  left: -2px;
  color: #F4A416;
  font-size: 8px;
}

.styled-border::after {
  content: "▶︎";
  position: absolute;
  top: calc(100% - 5.5px);
  right: -2px;
  transform: scaleX(-1);
  color: #F4A416;
  font-size: 8px;
}

.first-hr {
  border: 1px solid #F4A416;
  width: 100%;
  margin: auto;
}

.second-hr {
  width: 930px;
  border: 1px solid #F4A416;
  margin: auto;
}

/*product name*/
.name {
  font-family: 'GmarketSans';
    font-weight: 700;
    font-size: 17px;
    margin-right: 37px;
    margin-top: 3px;
}

.name2 {
  font-family: 'GmarketSans';
    font-weight: 700;
    font-size: 17px;
    margin-top: 3px;
    margin-right: 34px;
}

.input-container {
  border-radius: 7px;
  border: 1px solid #01A48F;
  width: 154px;
  height: 26px;
  margin-right: 123px;
}

/*select-box css*/
.select-box {
  width: 154px;
  height: 26px;
  border: 1px solid #01A48F;
  border-radius: 7px;
  padding-left: 10px;
}

#question {
  font-family: 'NanumSquare';
  font-weight: 400;
  font-size: 17px;
  text-align: center;
  margin-bottom: 12.61px;
}

/*star rating*/
.rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center
}

.rating>input {
  display: none
}

.rating>label {
  position: relative;
  width: 1em;
  font-size: 30px;
  font-weight: 300;
  color: #FFD600;
  cursor: pointer
}

.rating>label::before {
  content: "\2605";
  position: absolute;
  opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
  opacity: 1 !important
}

.rating>input:checked~label:before {
  opacity: 1
}

.rating:hover>input:checked~label:before {
  opacity: 0.4
}

  /*box*/
  #container1 {
    background-color: rgba(1, 164, 143, 0.5);
    width: 335px;
    height: 110px;
    border-radius: 28px; 
    float: left;
  }

  #container2 {
    background-color: rgba(1, 164, 143, 0.5);
    border-radius: 28px; 
    width: 571px;
    height: 110px;
    float: left;
  }

  #container3 {
    background-color: rgba(1, 164, 143, 0.5);
    border-radius: 28px; 
    width: 930px;
    height: 110px;
  }

.title-text  {
  font-family: 'GmarketSans';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  margin-top: 17px;
}

/*radio button*/
input[type='radio'] {
  width:17px;
  height:17px;
  border-radius:50%;
  outline:none;
  background:white;
  vertical-align: middle;
  cursor: pointer;
}
input[type='radio']:before {
  content:'';
  display:block;
  width:60%;
  height:60%;
  margin: 20% auto;  
  border-radius:50%;  
}
input[type='radio']:checked:before {
  background:black;
}


/*box-text*/
.box-text {
font-family: 'NanumSquare';
font-weight: 400;
font-size: 16px;
margin-top: 3px;
}

.input-box {
  width: 113.94px;
  height: 25px;
  background: #FFFFFF;
  border-radius: 26.5px;
  margin-right: 22px;
  padding: 5px;
}

.level-text { 
font-family: 'NanumSquare';
font-style: normal;
font-weight: 700;
font-size: 17px;
margin-left: 5px;
cursor: pointer;
}

.level-text2 {
font-family: 'NanumSquare';
font-style: normal;
font-weight: 400;
font-size: 14px;
color: #797979;
margin-left: 9px;
margin-right: 94px;
margin-top: 2px;
cursor: pointer;
}

#level-text3 {
  font-family: 'NanumSquare';
font-style: normal;
font-weight: 400;
font-size: 14px;
color: #797979;
margin-left: 9px;
margin-top: 2px;
cursor: pointer;
}

/*buy*/
.buy-text {
  font-family: 'GmarketSans';
font-style: normal;
font-weight: 700;
font-size: 17px;
margin-right: 30px;
margin-top: 3px;
}

.buy-text2 {
  font-family: 'NanumSquare';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  margin-top: 3px;
}
input::-webkit-input-placeholder {
  text-align: center;
}

.buy-box {
width: 338px;
height: 26px;
border: 1px solid #01A48F;
border-radius: 7px;
font-family: 'NanumSquare';
font-style: normal;
font-weight: 400;
font-size: 14px;
}

.buy-box2 {
width: 320px;
height: 26px;
border: 1px solid #01A48F;
border-radius: 7px;
margin-right: 3px;
font-family: 'NanumSquare';
font-style: normal;
font-weight: 400;
font-size: 14px;
}

input {
  color: #797979;
}

/*review form*/
#review-text {
  font-family: 'GmarketSans';
font-style: normal;
font-weight: 700;
font-size: 17px;
margin-bottom: 16px;
margin-top: 53px;
}

.flex-box {
  display: flex;
  justify-content: left;
}

textarea {
  border: 2px solid #01A48F;
  border-radius: 28px;
  resize: none;
  width: 930px;
  height: 296px;
  padding : 2.2em;
}

#textarea-content {
  font-family: 'NanumSquare';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
}

/*image upload*/
.btn-upload {
  width: 116px;
height: 100px;
  background: #F0F0F0;
  border-radius: 10px;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("/img/picture_icon.png");
  background-repeat: no-repeat;
    background-size: 50%;
    background-position: center center;
    
}
.btn-upload:hover {
  background: rgb(77,77,77);
    color: #fff;
    
}

#file {
  display: none;
}

button {
  text-align: center;
}

#cancel {
  width: 126.65px;
height: 58px;
  cursor: pointer;
  border: 1.5px solid #01A48F;
border-radius: 19px;
font-family: 'GmarketSans';
font-style: normal;
font-weight: 700;
font-size: 17px;
margin-right: 60.35px;
}

#post {
  width: 126.65px;
height: 58px;
  cursor: pointer;
  background: #01A48F;
border-radius: 19px;
font-family: 'GmarketSans';
font-style: normal;
font-weight: 700;
font-size: 17px;
color: white;
}

#back {
  transform: matrix(-1, 0, 0, 1, 0, 0);
  width: 33.45px;
  height: 33.45px;
  margin-left: 10px;
}

#back-text {
  font-family: 'GmarketSans';
  font-weight: 700;
  font-size: 17px;
  margin-top: 9px;
}

.image-size {
  display: flex; 
  width: 116px;
height: 100px;

  margin-left: 10px;
}


#content {
	position: relative;
	width: 1264px;
	margin: 0 auto 80px;
	padding: 0.1px 0 0 0;
}
.flex_row {
	display: flex;
	flex-direction: row;
	align-items: center;
	overflow: hidden;
}
.flex_col {
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
}
.divider {
	border-right: 1px solid black;
}

.styled-border {
	position: relative;
}

.loading {
	animation: loading_animation 3s linear infinite alternate;
}
@keyframes loading_animation {
	0% {
		background-color: rgb(184, 182, 182);
	}
	100% {
		background-color: rgb(228, 226, 226);
	}
}
@media (max-width: 1080px) {
	section {
		margin: 0;
	}
}
@media (max-width: 1264px) {
	#content {
		width: 100%;
	}
}


/**footer**/
#footer {
	width: 100%;
	height: 193px;
	padding: 1px;
}
#footer-content {
	width: 1264px;
	margin: 60px auto 18px;
	border-top: 1.5px solid white;
}
#footer-nav {
	justify-content: center;
	padding: 20px;
}
.footer-nav-item {
	padding: 5px;
}
#logo {
	width: fit-content;
	margin: 0 auto;
}
#logo > img {
	width: 41px;
}


.wrapper {
  overflow: hidden;
}

.placeholder {
  pointer-events: none;
  user-select: none;
  position: absolute;
  opacity: 0.3;
  padding: 0.2rem 0.2rem;
}
.hidden {
  display: none;
}
