<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>authorizationPage</title>
    <link rel="stylesheet" href="/src/main/resources/static/css/login.css">
</head>
<body>
    <img id="logo" src="/src/main/resources/static/img/logo_2.png">
    <p id="welcome">인증이 완료되었습니다.</p>
    <button onclick="location.href='/src/main/resources/templates/login/login.html'"id="accesslogin_btn" value="access">로그인<br>하러가기</button> 
</body>
</html>