<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">
    <!-- <meta name="viewport" content="user-scalable=0;"/> -->

    <!-- CSS -->
    <link rel="stylesheet" href="/css/filter.css">

    <!-- JavaScript -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://code.iconify.design/iconify-icon/1.0.0-beta.3/iconify-icon.min.js"></script>
    <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
    <script type="module" src="/js/filter.js"></script>
    <script type="module" src="/js/header.js"></script>

    <title>운동 종목 상세 페이지</title>
</head>
<body>
    <div id="filter-page">
        <!-- nav bar -->
        <header></header>

        <!-- previous page -->
        <div id="previous-page" class="flex">
            <a class="previous-pageBtn flex"> <!--JS : 이전의 페이지로 이동하도록 설정-->
                <img src="/img/angles_right.png" alt="">
                <h2>이전</h2>
            </a>
            <button class="filter-icon">
                <iconify-icon icon="carbon:settings-adjust" width="25"></iconify-icon>
            </button>
        </div>
        <!-- filter -->
        <section id="filter">
            <form action="#" id="filter-form" method="get">
                <div class="filter-container">
                    <div class="filter-container_title">
                        <h2>테니스</h2>
                    </div>
                    <div class="filter-container_main flex styled-border">
                    <!-- 모바일 때만 볼 수 있도록 -->
                    <button type="button" class="filter-icon_cancel">
                        <iconify-icon icon="carbon:settings-adjust" width="25"></iconify-icon>
                    </button>
                    
                        <div class="filter-contents">
                            <div class="filter-categories flex">
                                <h4><span class="triangle">▼</span>품목</h4>
                                <ul class="filter-categories_select flex">
                                    <li> <input type="radio" name="category" id="all" checked="checked"><label for="all">전체</label></li>
                                    <li> <input type="radio" name="category" id="top"><label for="top">상의</label></li>
                                    <li> <input type="radio" name="category" id="bottom"><label for="bottom">하의</label></li>
                                    <li> <input type="radio" name="category" id="outer"><label for="outer">아우터</label></li>
                                    <li> <input type="radio" name="category" id="inner"><label for="inner">이너웨어</label></li>
                                    <li> <input type="radio" name="category" id="shoes"><label for="shoes">신발</label></li>
                                    <li> <input type="radio" name="category" id="item"><label for="item">악세사리</label></li>
                                    
                                </ul>
                            </div>
                            <div class="filter-body flex">
                                <h4><span class="triangle">▼</span>체형</h4>
                                <div class="filter-body_container flex">
                                    <div class="filter-body_height flex">
                                        <h5>키</h5>
                                        <div class="body-input">
                                            <input type="number" name="height" id="height" value="">
                                            <span>cm</span>
                                        </div>
                                    </div>
                                    <div class="filter-body_weight flex">
                                        <h5>몸무게</h5>
                                        <div class="body-input">
                                            <input type="number" name="weight" id="weight" value="">
                                        <span>kg</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="filter-level flex">
                                <h4><span class="triangle">▼</span>운동 수준</h4>
                                <ul class="filter-level_select flex">
                                    <li class="flex level-checked">
                                        <input type="radio" name="level" id="1"> 
                                        <label for="1">
                                            <span class="level-name">초</span>
                                            <span class="level-des">이제 막 시작했어요 </span>
                                        </label>
                                    </li>

                                    <li class="flex">
                                        <input type="radio" name="level" id="2"> 
                                        <label for="2">
                                            <span class="level-name">중</span>
                                            <span class="level-des">이제 조금 익숙해지고 있어요</span>
                                        </label>
                                    </li>

                                    <li class="flex">
                                        <input type="radio" name="level" id="3"> 
                                        <label for="3">
                                            <span class="level-name">고</span>
                                            <span class="level-des">이제는 거의 고수에요 </span>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                            <div class="filter-price flex">
                                <h4><span class="triangle">▼</span>가격 범위</h4>
                                <div class="filter-price_range flex">
                                    <div class="filter-price_min flex">
                                        <!-- <p class="price-title">최저</p>
                                        <span id="min-price">00000</span>
                                        <p>원</p> -->
                                        <label class="price-title" for="min-price">최저</label>
                                        <input type="number" name="min-price" id="min-price">
                                        <p>원</p>
                                    </div>
                                    <span>~</span>
                                    <div class="filter-price_max flex">
                                        <!-- <p class="price-title">최고</p>
                                        <span id="max-price">00000</span>
                                        <p>원</p> -->
                                        <label class="price-title" for="max-price">최고</label>
                                        <input type="number" name="max-price" id="max-price">
                                        <p>원</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="filter-submit flex">
                            <input type="submit" id="filter-submit-btn" value="">
                            <label for="filter-submit-btn" class="flex">
                                <span>검색 </span>
                                <span class="iconify" data-icon="radix-icons:magnifying-glass"></span> 
                            </label>
                        </div> -->
                        <button type="submit" class="filter-submit flex">
                            <div class="submit-btn flex">
                                <span>검색</span>
                                <span class="iconify" data-icon="radix-icons:magnifying-glass"></span> 
                            </div>
                        </button>
                    </div>
                </div>
            </form>
        </section>

        <!-- products  -->
        <section id="products">
            <div class="filtered-result flex styled-border">
            </div>
            <div class="products-ordering flex">
                <div class="products-ordering_order flex">
                    <h3>정렬</h3>
                    <ul class="products-ordering_sort flex">
                        <li id="latest_order" class="order-action">최신순</li>
                        <li id="likes_order">좋아요순</li>
                        <li id="lowestPrice_order">최저가순</li>
                    </ul>
                </div>
                <div class="products-ordering_onlyImg flex">
                    <!-- <button class="flex">
                        <div class="onlyImg_box">
                            <div class="onlyImg_box_checked"></div>
                        </div>
                        <span>사진 리뷰만 보기</span>
                    </button> -->
                    <input type="checkbox" name="onlyImg_box" id="onlyImg_box" >
                    <label for="onlyImg_box" class="flex">
                        <div class="onlyImg_box">
                            <div class="onlyImg_box_checked"></div>
                        </div>
                        <span>사진 리뷰만 보기</span>
                    </label>
                    
                </div>
            </div>
            <div class="products-lists">

                <!--임시!!-->
                <!-- <a href = "#">
                    <div class="review_item">
                        <div class="review_leftContainer">
                            <div class="review_img_container">
                                <img src="../../static/img/hiking_icon.png" alt="내가 쓴 리뷰 사진" class="review_img">
                            </div>
                            <div class="heart_container" data-reviewIdx="1">
                                
                                    <span class="iconify heart-icon" data-icon="akar-icons:heart"></span>
                                    <span class="colored like-hidden"><img src="../../static/img/colored_heart_icon.png" alt=""></span>
                                
                                <span class="heart_cnt">3</span>
                            </div>
                        </div>
                        <div class="review_rightContainer">
                            <div class="my_review_titleAndWriter">
                                <div class="review_title">나이키 나이키상의</div>
                                <div class="review_writerAndTime">우영우 / 2022-08-21</div>
                            </div>
                            <div class="my_review_star">★★★★☆</div>
                            <div class="my_review_likeAndComment"> 댓글 3개 </div>
                            <div class="my_review_writerDetail">여성 / 160cm 60kg / 초 </div>
                            <div class="my_review_buyInfo">쿠팡 / 10000원</div>
                            <div class="review-view_limit review-hidden">리뷰 작성하면 구매출처와 구매가격을 볼 수 있어요!</div>
                            
                            <div class="my_review_content">
                                제 이름은 똑바로 읽어도 거꾸로 읽어도 우영우입니다. 기러기, 토마토, 스위스, 인도인, 별똥별, 우영우.
                            </div>                
                        </div>
                    </a> -->
                    
            </div>
        </section>

    </div>

    <!-- Up Arrow -->
    <button class="pageUp-btn">
        <img src="/img/page_up_icon.png" alt="">
    </button>

    <!-- Write a Review Button -->
    <button class="writeReview-btn" onclick="moveWritePage()">
            <span class="writeReview-text">리뷰 작성하기</span>
            <img src="/img/pencil_icon.png" alt="">
    </button>


    
</body>
</html>