<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>리뷰 상세 페이지</title>

    <!-- CSS -->
    <!-- <link rel="stylesheet" href="../../static/css/reset.css">
    <link rel="stylesheet" href="../../static/css/variable.css">
    <link rel="stylesheet" href="../../static/css/headerInFilterPage.css">
    <link rel="stylesheet" href="../../static/css/reviewDetail.css"> -->

    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/variable.css">
    <link rel="stylesheet" href="/css/headerInFilterPage.css">
    <link rel="stylesheet" href="/css/reviewDetail.css">

     <!-- JavaScript -->
     <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
     <script src="https://code.iconify.design/iconify-icon/1.0.0-beta.3/iconify-icon.min.js"></script>
     <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>

     <!-- <script type="module" src="../../static/js/filter.js"></script> -->
     <!-- <script type="module" src="../../static/js/header.js"></script> -->

     <!-- <script type="module" src="../../static/js/reviewDetail.js"></script> -->
     <script type="module" src="/js/reviewDetail.js"></script>
     <script type="module" src="/js/header.js"></script>
</head>
<body>
    <div id="root">
        <header></header>

        <!-- previous page -->
        <div id="previous-page" class="flex">
            <a class="previous-pageBtn flex"> <!--JS : 이전의 페이지로 이동하도록 설정-->
                <!-- <img src="/img/angles_right.png" alt=""> -->
                <img src="/img/angles_right.png" alt="">
                <h2>이전</h2>
            </a>
            <button class="filter-icon">
                <iconify-icon icon="carbon:settings-adjust" width="25"></iconify-icon>
            </button>
        </div>
        
        <main>
            <section id="review">
                <div class="review_item styled-border">
                    <div class="review_leftContainer">
                        <div class="review_img_container">
                            <div class="review-img_files flex">
                                <!-- <img src="../../static/img/hiking_icon.png" alt="내가 쓴 리뷰 사진" class="review_img">
                                <img src="../../static/img/balls_icon.png" alt="내가 쓴 리뷰 사진" class="review_img">
                                <img src="../../static/img/gym_icon.png" alt="내가 쓴 리뷰 사진" class="review_img">
                                <img src="../../static/img/swim_icon.png" alt="내가 쓴 리뷰 사진" class="review_img">
                                <img src="../../static/img/tennis_icon.png" alt="내가 쓴 리뷰 사진" class="review_img"> -->
                            </div>
                            <div class="review-img_cnt flex">
                                <!-- <div data-num="0" class="dot img_focus"></div>
                                <div data-num="1" class="dot"></div>
                                <div data-num="2" class="dot"></div>
                                <div data-num="3" class="dot"></div>
                                <div data-num="4" class="dot"></div> -->
                            </div>
                        </div>
                        <div class="heart_container" data-reviewIdx="1">
                            
                                <span class="iconify heart-icon" data-icon="akar-icons:heart"></span>
                                <span class="colored like-hidden"><img src="/img/colored_heart_icon.png" alt=""></span>
                            
                            <span class="heart_cnt flex"><p class="likes-cnt_num">10 </p> 개</span>
                        </div>
                    </div>
                    <div class="review_rightContainer">
                        <div class="my_review_titleAndWriter">
                            <div class="review_title" data-index="111">title</div>
                            <div class="review_writerAndTime">writer / time</div>
                        </div>
                        <div class="my_review_star">star</div>
                        <div class="my_review_likeAndComment"> comment </div>
                        <div class="my_review_writerDetail">gender / height weight / level </div>
                        <div class="my_review_buyInfo ">source / price</div>
                        <div class="review-view_limit hidden">리뷰 작성하면 구매출처와 구매가격을 볼 수 있어요!</div>
                        
                        <div class="my_review_content">
                            review content
                        </div>                
                    </div>
                    <div class="review-btn_container hidden"> <!--reviewBtn-hidden-->
                        <div class="review-modify">수정</div>     <!--FIX LINK !!!-->
                        <div class="review-delete">삭제</div>
                    </div>  
                </div>            
            </section>

            <section id="comments">
                <div class="comments-top flex">
                    <h2>댓글</h2> &nbsp; &nbsp;
                    <span class="comments-top_cnt flex">( <p class="comments-cnt_num">0</p> 개)</span>
                </div>

                <div class="comments_container">

                    <div class="write-parent comment-write flex">
                        <div class="comment-item_profile comment-write_profile">
                            <img src="../../static/img/logo.png" alt="profileImg">
                        </div>
                        <div class="comment-item_container comment-write_container">
                            <div class="comment-item_upper comment-write_myName"><h4>사용자 이름</h4></div>
                            <form class="comment-write_writingArea">
                                <input autocomplete="off" type="text" name="writeComment" id="writeComment" placeholder="댓글 추가">
                                <button type="submit">등록</button>
                            </form>
                        </div>                    
                    </div>

                    <div class="comments-list">
                        <div class="comment-item">
                            <div class="comment-parent flex" >
                                <div class="comment-item_profile">
                                    <img src="/img/logo.png" alt="profileImg">
                                </div>
                                <div class="comment-item_container">
                                    <div class="comment-item_upper flex">
                                        <div class="comment-item_nameAndTime flex">
                                            <h4 class="comment-item_name">댓글 작성자 이름</h4>
                                            <div class="comment-item_time">댓글 작성 시간</div>
                                        </div>                                    
                                        <div class="comment-item_more flex">
                                            <span class="more_icon">:</span>
                                            <div class="comment-more_container hidden">
                                                <div class="more-container_writeChildCom">대댓글 달기</div>
                                                <div class="more-container_deleteComment click-limit">댓글삭제</div>  <!--click-limit-->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="comment-content">
                                        comment content
                                    </div>
                                </div>
                            </div>
                            
                            <div class="comment-write write-child hidden flex">
                                <div class="comment-child_division">
                                    <img src="/img/child_comment_arrow.png" alt="">
                                </div>
                                <div class="comment-item_profile comment-write_profile">
                                    <img src="/img/logo.png" alt="profileImg">
                                </div>
                                <div class="comment-item_container comment-write_container">
                                    <div class="comment-item_upper comment-write_myName"><h4>사용자 이름</h4></div>
                                    <form class="comment-write_writingArea">
                                        <input type="text" name="writeComment" id="writeComment" placeholder="댓글 추가">
                                        <button type="submit">등록</button>
                                    </form>
                                </div>                    
                            </div>

                            <div class="comment-child flex">
                                
                                <div class="comment-child_division">
                                    <img src="/img/child_comment_arrow.png" alt="">
                                </div>
                                <div class="comment-item_profile">
                                    <img src="/img/logo.png" alt="profileImg">
                                </div>
                                <div class="comment-item_container">
                                    <div class="comment-item_upper flex">
                                        <div class="comment-item_nameAndTime flex">
                                            <h4 class="comment-item_name">댓글 작성자 이름</h4>
                                            <div class="comment-item_time">댓글 작성 시간</div>
                                        </div>  
                                        <div class="comment-item_more">
                                            <span class="more_icon">:</span>
                                        </div>
                                    </div>
                                    <div class="comment-content">
                                        child comment content
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </div>
                    
                </div>            
            </section>
        </main>
    </div>

    <!-- Up Arrow -->
    <button class="pageUp-btn">
        <img src="/img/page_up_icon.png" alt="">
    </button>
</body>
</html>